h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

.hide {
    display: none;
}

h2 {
    display: list-item;
}

#timer {
    position: fixed;
    top: 10px;
    right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    text-decoration: none;
}

#start-screen {
    margin: auto;
    width: 50%;
    padding: 10px;
  }

#questions {
    margin: auto;
    width: 50%;
    padding: 10px;   
}